<% action_url = sub.persisted? ? sub_url(sub) : subs_url %>
<% http_method = sub.persisted? ? "PATCH" : "POST" %>

<form action="<%= action_url %>" method="POST">
    <input type="hidden" name="_method" value="<%= http_method %>">
    <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

    <label>
        Title
        <input type="text" name="sub[title]" value="<%= sub.title %>">
    </label>
    
    <br><br>

    <label>
        Description
        <textarea name="sub[description]"><%= sub.description %></textarea>
    </label>
    
    <br><br>

    <input type="submit" value="Submit">
</form>