
<h1>
    <a href="<%= post_url(@post) %>"><%= @post.title %></a> by
    <%= @post.author.name %>
</h1>

<div>
    <b>Content:</b>
    <pre><%= @post.content %></pre>
    <br>
</div>

<h2>Subs</h2>
<ul>
    <% @post.subs.each do |sub| %>
        <li><a href="<%= sub_url(sub) %>"><%= sub.title %></a></li>
    <% end %>
</ul>
